<h1><%= @league.league_name %></h1>
<p>Country: <%= @league.country_name %></p>
<p>Type: <%= @league.league_type %></p>

<h2>Teams in this League</h2>
<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Points</th>
      <th>Goal Difference</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @league.teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.points %></td>
        <td><%= team.goal_diff %></td>
        <td><%= link_to "Show", league_team_path(@league, team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>